body{
  align-items: center;
  padding: 30px;
}

.header {
  padding: 20px 0;
}
.nav {
  display: flex;
  justify-content: center;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-endc;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}
.nav-link:hover,
.nav-link:focus {
  color: #747bff;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #747bff;
}

.timer{
  display: flex;
  gap: 24px;
}

.field{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55px;
  height: 72px;
}

.value{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.input-data{
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  background-color: #fff;
  margin-right: 8px;
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-data:focus{
  border-color: #6c8cff;
  outline: none;
}

.button-data{
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  background-color: #4e75ff;
  color: #fff;
}

.button-data:hover,
.button-data:focus{
  background-color: #6c8cff;
}

.button-data[disabled]{
background-color: #cfcfcf;
color: #989898;
}

.label-delay{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}

.input-delay{
  width: 360px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.input-delay:hover{
  border: 1px solid #000;
  
}

.input-delay:focus-within{
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.label-delay input:focus {
  outline: none;
}

.state-fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  border-radius: 4px;
  stroke-width: 1px;
  stroke: #808080;
  height: 64px;
  margin-bottom: 24px;
}

.state-label{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.state-label input[type="radio"]{
margin-right: 8px;
}

.state-fieldset:hover{
border-color: #000;;
}

.button-form{
  border-radius: 8px;
  padding: 8px 16px;
  width: 360px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.button-form:hover{
  background-color: #6c8cff;
}
